<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Prediction</title>
</head>
<body>
    <div>
        <hr>
        <h2>Enter the sentence to predict sentiment for:</h2>
        <p>We'll use LSTM model trained on 1.6 million tweets to predict the sentiment of your sentence.</p>
        <p>Hope we are correct &#128578</p>
        <form action="/sentiment_prediction" method="POST">
            <label for="sentence"></label> 
            <input class="form-control" type="text"  name="sentence" placeholder="Enter Text Here...." aria-rowcount="3">
            <input type="submit" value="Predict">
            <br>
        </form>
        <hr>
    </div>
</body>
</html>